body {
font-family:"Times New Roman";
font-size:150%;
background-color:rgb(238,230,255);
color:rgb(51,0,51);
}

header {
	font-size: 26px;
	background-color:rgb(201,255,229);
	color:rgb(51,105,75);
	padding-bottom:9.2;
}
.BreifIntro {
text-align:center;
font-size:200%;
}

div.Menu 
{
	border-left:1px solid blue;
	border-right: 1px solid blue;
	text-align:center;
}

.Menu li
{
	list-style-type: none;
	margin-right: 40px;
	border:non;
	display: inline-block;

}
a:active {
	
	text-decoration-line:none;
}
a:hover {
	text-decoration-line: underline;
	cursor: pointer;
}
a:visited {

	text-decoration: none;

}
 button.Menu {
	background-color: red;
	border: 2px solid black;
	align:right;
}
button.Menu:hover {
	background-color: black;
	color: red;
	cursor: pointer;
}







/*  old, relize that noone sets images as bgs- 
 *  go with colors and bgs for divs and spans
 *  background-image:url("https://wallpapercave.com/wp/wp5185840.jpg");
background-repeat:no-repeat; 
just hold on we're going home!!
ul.Lover {
 list-style-type: none;
}

.Menu li:hover {
	color:red;
	background-color:lightblue;
}





syntax
.class elemnt;
.class parentelement > childofp > clildofclid {}

initail padding for li is 40px




background-position: center;
https://www.w3.org/Style/Examples/007/fonts.en.html
background-attachment: scroll;
https://stackoverflow.com/questions/3087975/how-to-change-the-cursor-into-a-hand-when-a-user-hovers-over-a-list-item

https://www.geeksforgeeks.org/how-to-apply-style-to-parent-if-it-has-child-with-css/
https://developer.mozilla.org/en-US/docs/Web/CSS/border-style
https://stackoverflow.com/questions/7240130/set-the-same-value-to-multiple-properties-css 
get saas || less for same value for multiple proberties;
 */
