body {
font-family:"Times New Roman";
font-size:150%;
background-color:rgb(238,230,255);
color:rgb(51,0,51);
}

header {
	font-size: 26px;
	background-color:rgb(201,255,229);
	color:rgb(0,0,26);
	margin-bottom:4px;
}
.Menu 
{
	border-left:1px solid blue;
	border-right: 1px solid black;
	text-align:center;
	position: sticky;
	top:0;

}

.Menu li 
{
	list-style-type: none;
	margin-right: 40px;
	display: inline-block;
	padding-top: 4px;
	padding-bottom:4px;
	padding-left: 7px;
	padding-right: 7px;
/*	border-right: 1px solid black;
	*/animation-name:blink;
	animation-duration: 1s;
}
.Menu li:hover
{
	text-decoration: underline;
}

a:active, a:link {
	background-color:rgb(201,255,229);
	color:black;
}

a:hover {
	cursor: pointer;
	background-color:rgb(201,255,229);
	color:darkred;
}

/*fix later: color of href not changing; lol just needed a:::link*/
a:visited {

}

button.Menu {
	background-color: red;
	display:block;
	border: 2px solid black;
}

button.Menu:hover {
	background-color: black;
	color: red;
	cursor: pointer;
	animation: blink 1s infinite;

}

.BreifIntro {
text-align:center;
font-size:200%;
}

@keyframes blink {
	from 
	{
	color:rgb(0,0,26);}
	to 
	{color:rgb(201,255,229);}

}




/*  old, relize that noone sets images as bgs- 
 *  go with colors and bgs for divs and spans
 *  background-image:url("https://wallpapercave.com/wp/wp5185840.jpg");
background-repeat:no-repeat; 
just hold on we're going home!!
ul.Lover {
 list-style-type: none;
}
https://www.w3schools.com/css/css3_animations.asp
https://www.freecodecamp.org/news/make-it-blink-html-tutorial-how-to-use-the-blink-tag-with-code-examples/

.Menu li:hover {
	color:red;
	background-color:lightblue;
}





syntax
.class elemnt;
.class parentelement > childofp > clildofclid {}

initail padding for li is 40px




background-position: center;
https://www.w3.org/Style/Examples/007/fonts.en.html
background-attachment: scroll;
https://stackoverflow.com/questions/3087975/how-to-change-the-cursor-into-a-hand-when-a-user-hovers-over-a-list-item

https://www.geeksforgeeks.org/how-to-apply-style-to-parent-if-it-has-child-with-css/
https://developer.mozilla.org/en-US/docs/Web/CSS/border-style
https://stackoverflow.com/questions/7240130/set-the-same-value-to-multiple-properties-css 
get saas || less for same value for multiple proberties;
 */
