/* 
how nested tags in tags and calsses work
how to make a tag inherent proberty values from another selector, using the specified values on the second selector and discarding them on the first one>took time n gave up



previous deleted to*/
/* get link. get align/ get text./get motion get cenrer/ get hover/ get inner classes/ code dept prevention/ common issues/ logo/ upload/*/

.header {
text-align:center;

}
.header p, .footer p{
/*make the text bold> font-weigh; 
same value different properties;
*/
    font-size: large;
    text-align:Left;
    font-weight: bold;
    padding-left: 32px;
    display:block;
    padding-top:7px;
}
#rip {

    display:block;
}
/*li.footer {
display:inline-block;
text-align:center;
color: white;

}
*/
body {
color: white;
background-color:black;
font-family:'Times New Roman', Times, serif;


}
a:link,a:visited,a:active {
    text-decoration:none;
    color: lightblue;
}


a:hover {
font-size:large;
color:aquamarine;
border:solid 1px black;
border-radius: 34px;
padding:none;
}
ul {

    list-style-type:none;

}


li  {
    display:inline;
    padding-top:6px;     
    margin-left:86px ;
    padding-bottom:6px;
    border-right: solid white 1px;
    border-collapse:separate;
    border-spacing:10px;


}
.footer{

    text-align:center;
}



/*.vertit {

    border-right: solid 33px white;
    border-right-width:1px;
}
    */