/* 
/*make the text bold> font-weigh; 
same value different properties;
 
how nested tags in tags and calsses work
how to make a tag inherent proberty values from another selector, using the specified values on the second selector and discarding them on the first one>took time n gave up

padding: between item and border then the margin between border and  imaginary box
content man: width+ hegiht; 

Fun fkt:lorem ipsum spam holder latin since the 1500



Document flow: display: divided into two, block and Inline block
Block full horizental br before and after: div,form,h,
inline: only the height and width no br: imgage,anchor
    inline-block: man padding margin;





ai said  seek box-sizing has some math
previous deleted to*/
/* get link. get align/ get text./get motion get cenrer/ get hover/ get inner classes/ code dept prevention/ common issues/ logo/ upload/*/
.header button{
    /* 
style it button on click func shine;
change LI
    */
float:right;




}
p   {
    font-size: large;
    font-weight: bold;
    padding-left: 32px;
    display:inline;
}

.footer img {

display:inline-block;
border-radius:100%;
width:40px;
height:40px;
margin-top: 7px;    
}
.main span
{
display:inline-block;
padding: 12px;
width: 50%; 

background-color: lightslategray;
border:none;
border-radius: 4px;
margin:13px;
transition:400ms;
}
/*cant style the links in .main overlapped with link styles L:91  even when tag changes*/
#overlapped {
    color:black;
    font-size:medium;

}




.main span:hover {


border-radius: 3px;
background-color:darkblue;
color:white;
transition:600ms;
width:52%;
padding: 16px;
& .main a:link {
    color: white;

}



}

body {
color: white;
background-color:black;
font-family:'Times New Roman', Times, serif;
text-align: center;
}





a:link,a:visited,a:active {
    text-decoration:none;
    color: lightblue;
    transition:400ms;
}
.callMeIf {
float:inline-end;

border: 1px solid aqua;
padding: 4px;
border-radius: 3px;
margin:4px;
}

a:hover {
font-size:large;
opacity:.5;
transition:400ms;
background-color: white;
color: black;
padding: 7px;
border-radius: 13px;
}






ul {

    list-style-type:none;
    display:flex;
   /*might need to get got */ justify-content:space-between;
   & .footer ul {
    display:flex;
    justify-content: space-around;
   }

}

.vertit{
    border-right: 1px solid white;
    font-size:x-large;
}
li  {
    display:inline;
    padding:20px;
    padding-right:77px;
    padding-left:77px;
    border-collapse:separate;
    border-spacing:10px;

}
/*
#contactnotup {
    display:inline;
    float:inline-start;
}
    */

