/* 
/*make the text bold> font-weigh; 
same value different properties;
 
how nested tags in tags and calsses work
how to make a tag inherent proberty values from another selector, using the specified values on the second selector and discarding them on the first one>took time n gave up

padding: between item and border then the margin between border and  imaginary box
content man: width+ hegiht; 

ai said  seek box-sizing has some math
previous deleted to*/
/* get link. get align/ get text./get motion get cenrer/ get hover/ get inner classes/ code dept prevention/ common issues/ logo/ upload/*/
.header button{
    /* 
style it button on click func shine;
change LI
    */
}
p   {
   font-size: large;
    font-weight: bold;
    padding-left: 32px;
    display:inline;
}

.main span
{
display:inline-block;
padding: 12px;
width: 50%; 
background-color: lightslategray;
border:none;
border-radius: 4px;
margin:13px;


}
.main span:hover {


border: solid grey .001px;
border-radius: 3px;

    
}

body {
color: white;
background-color:black;
font-family:'Times New Roman', Times, serif;
text-align: center;

}
a:link,a:visited,a:active {
    text-decoration:none;
    color: lightblue;
}
.callMeIf {
float:inline-end;
display: inline;

border: 1px solid aqua;
padding: 4px;
padding-right:3px;
border-bottom:1px white solid;
border-radius: 3px;
}

a:hover {
font-size:large;
opacity:.5;
}






ul {

    list-style-type:none;

}

.vertit{
    border-right: 1px solid white;
    font-size:x-large;
}
li  {
    display:inline;
    padding:20px;
    padding-right:77px;
    padding-left:77px;
    border-collapse:separate;
    border-spacing:10px;

}
/*
#contactnotup {
    display:inline;
    float:inline-start;
}
    */