/*make the text bold> font-weigh; 
same value different properties;
************************************ https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
margin is for the position you marge to;

idk but put khaby lame when menu pressed onclick or go logo ltr and rtl hands up and down;

how nested tags in tags and calsses work
how to make a tag inherent proberty values from another selector, using the specified values on the second selector and discarding them on the first one>took time n gave up

padding: between item and border then the margin between border and  imaginary box
content man: width+ hegiht; 

Fun fkt:lorem ipsum spam holder latin since the 1500
opacity: through it and rgba.

Document flow: display: divided into two, block and Inline block

    Block full horizental br before and after: div,form,h,
    inline: only the height and width no br: imgage,anchor
    inline-block: man padding margin;

ai said  seek box-sizing has some math
previous deleted to*/
/* get link. get align/ get text./get motion get cenrer/ get hover/ get inner classes/ code dept prevention/ common issues/ logo/ upload/*/
.header button{
    /* 
style it button on click func shine;
change LI
    */
    display:inline-flex;
    justify-content:flex-end;
/*get button sticky relitive to it's main position stick to end of flex;
when using fixed  the button wasn't effected with scrolling*/
}
/*#meName{
    display: inline-flex;
    //get the pos of button right and the p center}*/
.header  {
    position:sticky;
    top:0;
    background-color:black;
    padding-bottom: 5px;
    padding-top: 5px;
}
p   {
    font-size: large;
    font-weight: bold;
    padding-left: 32px;
    display:inline;
}
.footer img {
display:inline-block;
border-radius:100%;
width:40px;
height:40px;
padding-bottom:7px;
}
.main span
{
display:inline-block;
padding: 12px;
width: 50%; 
background-color: lightslategray;
border:none;
border-radius: 4px;
margin:13px;
transition:400ms;
}
/*cant style the links in .main overlapped with link styles L:91  even when tag changes*/
#overlapped {
    color:black;
    font-size:medium;
}
.footer {
/*little lines on the bottom; fixed by removing margin top in the .footer im fixed by removing margin top in the .footer imgg*/
    position:sticky;
    bottom: 0;
    background-color:black;
}
.main span:hover {
border-radius: 3px;
background-color:darkblue;
color:white;
transition:600ms;
width:52%;
padding: 16px;
/*
box-shadow: 1px rgba(255,255,255,.99);
https://www.w3schools.com/cssref/pr_class_cursor.php make cursur upload and give end user
filter:invert(1);*/
& .main a:link {
    color: white;

}
/*box-shadow: 0 1px 1px 0  white;
css proberty values border shadow margin: __ __ __ __; make no sense;*/
}

body {
color: white;
background-color:black;
font-family:'Times New Roman', Times, serif;
text-align: center;
}
a:link,a:visited,a:active {
    text-decoration:none;
    color: lightblue;
    transition:400ms;
}
.callMeIf {
float:inline-end;
border: 1px solid aqua;
padding: 4px;
border-radius: 3px;
margin:4px;
}
a:hover {
font-size:large;
opacity:.5;
transition:400ms;
background-color: white;
color: black;
padding: 7px;
border-radius: 13px;
}
ul {
    list-style-type:none;
    display:flex;
    justify-content:space-around;
}
.vertit{
    border-right: 1px solid white;
    font-size:x-large;
}
li  {
    display:inline-block;
}
.header button {
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 3px;
    border-radius: 20%;
    transition: 400ms;
}

@keyframes borderMe { 
}
.header button:hover {
    cursor:pointer;
    animation-name: borderMe;
    transition: 600ms;
    font-size: 1.1em;
    transition:400ms;
    border-width: 3px;
   }
/*#contactnotup {
    display:inline;
    float:inline-start;} */
  
